
Back End/HUST.Core/.vs/HUST.Core/FileContentIndex/fa6a2638-ae65-49a1-aa55-1a6b2d343304.vsidx
Back End/HUST.Core/.vs/HUST.Core/FileContentIndex/3de828c5-b360-49eb-bd53-9a783e0ec50c.vsidx
Back End/HUST.Core/.vs/HUST.Core/FileContentIndex/3a5a4531-aa92-4a8a-bcb0-13243a58e3b2.vsidx
Back End/HUST.Core/.vs/HUST.Core/FileContentIndex/c70d05f4-d645-4589-be69-1a966db5fd27.vsidx
Back End/HUST.Core/HUST.Asset-Management.Api/obj/Debug/net6.0/HUST.Asset-Management.Api.GeneratedMSBuildEditorConfig.editorconfig
Back End/HUST.Core/HUST.Asset-Management.Api/obj/Debug/net6.0/HUST.Asset-Management.Api.GeneratedMSBuildEditorConfig.editorconfig
Back End/HUST.Core/HUST.Core/obj/Debug/net6.0/HUST.Core.GeneratedMSBuildEditorConfig.editorconfig
Back End/HUST.Core/HUST.Infrastructor/obj/Debug/net6.0/HUST.Infrastructor.GeneratedMSBuildEditorConfig.editorconfig
*.editorconfig
*.vsidx
*.v2
*.pdb
*.cache
*.json
*.dll
*.props
*.cache
*.dll
